<div class="navbar navbar-light bg-light d-flex p-2">
  <h1 class="title">TinyApp</h1>
  <form class="form-inline" action="/urls" method="GET">
      <button type="submit" class="btn btn-primary">
        Home
      </button>
  </form>
  <% if (user) { %>
    <%= `Signed in as ${user.email}` %>
    <form class="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-primary">Log Out</button>
        </button>
    </form>
    <form class="form-inline" action="/urls/new" method="GET">
      <button type="submit" class="btn btn-primary">New Url</button>
    </form>
  <% } else { %>
    <form class="form-inline" action="/login" method="GET">
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <form class="form-inline" action="/register" method="GET">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
  <% } %>
</div>